@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

::selection {
    color: #FFAC33;
}

body {
    overflow:hidden;
}
a {
    text-decoration: none;
}

h1, h2,p , a, button {
    color: #f8f8f8;
    font-weight: 300;
}

a:hover {
    color: black;
}

li {
    line-height: 30px;
}

button {
    background: none;
    color: inherit;
    padding: 0 !important;
    font: inherit;
    border: none;
    cursor: pointer;
}

button:hover {
    color: black;
}

button:focus {
    outline: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background: #8968ff;
    background: -moz-linear-gradient(-45deg, #8968ff 0%, #38a2ce 100%);
    background: -webkit-linear-gradient(-45deg, #8968ff 0%,#38a2ce 100%);
    background: linear-gradient(135deg, #8968ff 0%,#38a2ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8968ff', endColorstr='#38a2ce',GradientType=1 );
}

#content {
    position: relative;
    height: inherit;
    padding: 20px 0 0 20px;
}

#about-wrap {
    height: inherit;
    position: relative;
    margin-right: 1em;
}

#about-content {
    height: inherit;
    padding: 35px 0 0 0;
    max-width: 100%;
    min-width: 35%;
}

#heading h1, h2 {
    font-weight: 300;
}

#social {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0 20px 20px;
    margin-bottom: 20px;
}

#nav {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 20px 20px 0;
    margin-bottom: 20px;
}

#nav li, a {
    text-align: right;
}

#list {
    list-style-type: none;
}

/* Animation */

.anim-delay-1s {
    animation-delay: 0.25s;
}

.anim-delay-1-half {
    animation-delay: 0.5s;
}

.social-delay-1 {
    animation-delay: 0.75s;
}

.social-delay-2 {
    animation-delay: 1s;
}

.social-delay-3 {
    animation-delay: 1.25s;
}

.social-delay-4 {
    animation-delay: 1.5s;
}

/* Media Queries */

/* Desktop */
@media (min-width: 1281px) {
  
    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 200%;
    }

    a, button {
        font-size: 150%;
        line-height: 1.75em;
    }

    #about-wrap {
        height: inherit;
        position: relative;
        margin-right: 1em;
    }
    
    #about-content {
        height: inherit;
        padding: 35px 0 0 0;
        max-width: 50%;
        min-width: 35%;
    }
}

/* Laptops, Low res desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

    #about-wrap {
        height: inherit;
        position: relative;
        margin-right: 1em;
    }
    
    #about-content {
        height: inherit;
        padding: 35px 0 0 0;
        max-width: 50%;
        min-width: 35%;
    }
    
  }

/* Retina Macbook / iPhone */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    a, button {
        line-height: 1.75em !important;
    }
}

/* iPad Pro */ 
    /* Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
   
    h1 {
        font-size: 350%;
    }

    h2 {
        font-size: 250%;
    }

    a, button {
        font-size: 200%;
        line-height: 2em !important;
    }

    button:focus {
        outline: 0;
        color: white;
    }
}

    /* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    
    h1 {
        font-size: 350%;
    }

    h2 {
        font-size: 250%;
    }

    a, button {
        font-size: 200%;
        line-height: 2em !important;
    }

    button:focus {
        outline: 0;
        color: white;
    }
}

/* Low Res Phones etc */
@media (min-width: 320px) and (max-width: 480px) {
  
    #about-wrap {
        height: inherit;
        position: relative;
    }
    
    #about-content {
        font-size: 14px;
        height: inherit;
        padding: 10px 0 0 0;
        max-width: 100%;
    }

    button:focus {
        outline: 0;
        color: white;
    }
    
  }

  /* iPhone SE/5 */
  @media (min-width: 320px) and (max-device-height: 568px) {
  
    #about-wrap {
        height: inherit;
        position: relative;
    }
    
    #about-content {
        font-size: 12px;
        height: inherit;
        padding: 10px 0 0 0;
        max-width: 100%;
    }

    button:focus {
        outline: 0;
        color: white;
    }
    
  }
